* {
    /* box-sizing: border-box; */
    /* border: 3px solid green; */
    font-family: 'Roboto';
  }

.flex-container {
    margin: -8px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-top: 20px;
    display: flex;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: 438px;
    font-weight: bold;
  }

.links {
    color: #bababa;
    font-size: 18px;
    display: flex;
    gap: 25px;
}

.hero {
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.hero-text-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
.hero-main-text {
    color: #F9FAF8; 
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    color: #bababa;
    font-size: 18px;
}

.sign-up {
    margin-top: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border-style: none;
    outline-style: none;
}

.hero-image {
    height: 200px;
    width: 500px;
    justify-self: center;
    align-self: center;
}

.flex-container2 {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 50px;
    font-size: 36px;
    font-weight: 900;
}

.card-container{
    display: flex;
    gap: 50px;
}

.card {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.sub {
    margin-top: 170px;
    font-size: 16px;
    text-align: center;
    color: #676767;
}

.quote-container {
    margin: -8px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
}

.quote {
    text-align:left;
    width: 825px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quotation {
    margin-top: -45px;
    padding-left: 510px;
    font-size: 24px;
    font-weight: 900;
}

.sign-up-container {
    padding-top: 100px;
    padding-left: 200px;
    padding-bottom: 100px;
    padding-right: 200px;
}

.sign-up-box {
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sign-up-text {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
}

#call {
    margin-bottom: -1px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

#sign {
    margin-top: -1px;
    color: #d6d6d6;
}

#button2 {
    border: solid #F9FAF8 2px;
}

footer {
    margin: -8px;
    padding-top: 50px;
    padding-left: 600px;
    height: 50px;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
}